[submodule "common/dep/tinyusb"]
	path = common/dep/tinyusb
	url = https://github.com/intechstudio/tinyusb.git
[submodule "common/dep/littlefs"]
	path = common/dep/littlefs
	url = https://github.com/littlefs-project/littlefs.git
