[Desktop Entry]
Version=1.0
Type=Application
Name=Telnet:4444
Comment=
Exec=xfce4-terminal  --maximize -e "telnet localhost 4444"
Icon=utilities-terminal
Terminal=true
StartupNotify=false
Path=
