!src

!src/c
!src/c/*.h
!src/c/*.c

!src/lua
!src/lua/*.lua

!dep

!dep/littlefs
!dep/littlefs/**

!dep/lua-5.4.3
!dep/lua-5.4.3/**

!dep/proto
!dep/proto/**

!dep/tomlc99
!dep/tomlc99/**

!dep/vmp
!dep/vmp/**
