name: Firmware release workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
  push:
    tags:
     - 'v*.*.*'
     
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Checkout repository
        run: |
          ls
      - name: Install GNU Arm Embedded Toolchain (arm-none-eabi-gcc)
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: '9-2020-q2' # <-- The compiler release to use

      - name: Test ARM GCC
        run: |
          arm-none-eabi-gcc -v
          cd grid_make/gcc && make release_automation
          
      - name: Set Date
        run: echo "action_date=$(date +'%Y-%m-%d-%H%M')" >> $GITHUB_ENV
             
      - name: Set env
        shell: bash
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: See env
        run: echo "${{ env.RELEASE_VERSION }}"
        
      - name: Copy and rename the artifact
        run: |
          ls
          cp binary/grid_release.uf2 grid_release_${{ env.action_date }}.uf2
         
      - name: Zipping artifacts for Discord      
        uses: papeloto/action-zip@v1
        with:
          files: grid_release_${{ env.action_date }}.uf2
          dest: grid_release_${{ env.action_date }}.zip
          
      - name: Zipping artifacts for Github Release   
        uses: papeloto/action-zip@v1
        with:
          files: grid_release_${{ env.action_date }}.uf2
          dest: grid_release.zip     
          
      - uses: tsickert/discord-webhook@v4.0.0
        with:
          webhook-url: ${{ secrets.WEBHOOK_URL }}
          content: "Congrats, the Release Firmware is Fire!"
          filename: "grid_release_${{ env.action_date }}.zip"
          
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.RELEASE_VERSION }}
          name: Grid  ${{ env.RELEASE_VERSION }} (${{ env.action_date }})
          files: grid_release.zip
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
